body {
  background-color: #000000;
}

div.day {
  color: #FFFFFF;
}

h1 {
  background-color: inherit;
  background-image:
  url("https://image.ibb.co/defc2b/images.jpg");
  background-repeat: no-repeat;
  background-size: 100% 100%;
  border: 1px solid #FFFFFF;
  color: #FFFFFF;
  font-family:'Press Start 2P', cursive;
  height: 300PX;
  width: 1300px;
  padding-top: 90PX;
  display: inline-block;
  bottom: 10px;
  left: 10PX;
}

P {
  color: #FFFFFF;
  font-family: 'Share Tech Mono', monospace;
}
