div.box_1a {
  background-color:	#FF0000;
  height: 500px;
  width: 500px;
  padding: 10px;
  margin-bottom: 10px;
  position: static;
}

div.box_1b {
  background-color: #800080;
  height: 300px;
  width: 300px;
  padding: 10px;
  position: relative;
  bottom: 27.5em;
  left: 6.5em;
}

div.box_1c {
  background-color: #FFFF00;
  height: 150px;
  width: 150px;
  padding: 10px;
  position: relative;
  bottom: 47.5em;
  left: 6.5em;
}

div.box_2a {
  background-color: #000080;
  height: 500px;
  width: 500px;
  padding: 10px;
  position: relative;
  bottom: 30em;
}

div.box_2b {
  background-color: #228B22;
  height: 300px;
  width: 300px;
  position:relative;
  bottom: 55.5em;
  left: 7em;
}

div.box_2c {
  background-color: #000000;
  height: 112px;
  width: 112px;
  position: relative;
  bottom: 81.2em;
}
