<!DOCTYPE html>
<html>
 <head>
  <meta charset="utf-8">
  <title>Icons-and-typographies</title>
  <link rel="stylesheet" href="main.css">
  <link href=
  "https://fonts.googleapis.com/css?family=Anton|Gloria+Hallelujah|Lobster|Pacifico|Questrial|Shadows+Into+Light"
  rel="stylesheet">
  <link rel="stylesheet"
  href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" />

 </head>

 <body>
 <span class="icon_1">
    <center><i class="fa fa-facebook fa-4x" aria-hidden="true"></i></center>
    <h4><center>Icono 1</center></h4>
    <p><center> Este es el primer icono del ejercicio cuatro<br/>
    para la practica de iconos y tipografias.</center></p>
 </span>

 <span class="icon_2">
    <center><i class="fa fa-space-shuttle fa-4x" aria-hidden="true"></i></center>
    <h4><center>Icono 2</center></h4>
    <p><center>Este es el segundo icono del ejercicio cuatro<br/>
    para la practica de iconos y tipografias.</center></p>
 </span>

 <span class="icon_3">
    <center><i class="fa fa-rebel fa-4x" aria-hidden="true"></i></center>
    <h4><center>Icono 3</center></h4>
    <p><center>Este es el tercer icono del ejercicio cuatro<br/>
    para la practica de iconos y tipografias.</center></p>
 </span>

 <span class="icon_4">
    <center><i class="fa fa-twitter fa-4x" aria-hidden="true"></i></center>
    <h4><center>Icono 4</center></h4>
    <p><center>Este es el cuarto icono del ejercicio cuatro<br/>
    para la practica de iconos y tipografias.</center></p>
 </span>

 <span class="icon_5">
    <center><i class="fa fa-slack fa-4x" aria-hidden="true"></i></center>
    <h4><center>Icono 5</center></h4>
    <p><center>Este es el quinto icono del ejercicio cuatro<br/>
    para la practica de iconos y tipografias.</center></p>
 </span>

 </body>
</html>
