<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>tipografias-iconos</title>
    <link rel="stylesheet" href="main.css">
    <link href=
    "https://fonts.googleapis.com/css?family=Anton|Gloria+Hallelujah|Lobster|Pacifico|Questrial|Shadows+Into+Light"
    rel="stylesheet">
    <link rel="stylesheet" href="/fonts/style.css">

  </head>

  <body>
  <span class="icon1"><h4><center>Icono 1</center></h4>
    <center><p class="icon-brand7"></center>
      <center> Este es el primer icono del ejercicio cuatro<br/>
        para la practica de iconos y tipografias.
      </center></p></span>

  <span class="icon2"><h4><center>Icono 2</center></h4>
    <center><br/></center>
      <center>Este es el segundo icono del ejercicio cuatro<br/>
        para la practica de iconos y tipografias.</center></p></span>

  <span class="icon3"><h4><center>Icono 3</center></h4><br/></center>
      <center>Este es el tercer icono del ejercicio cuatro<br/>
        para la practica de iconos y tipografias.</center></p></span>

  <span class="icon4"><h4><center>Icono 4</center></h4>
    <center><br/></center>
      <center>Este es el cuarto icono del ejercicio cuatro<br/>
        para la practica de iconos y tipografias.</center></p></span>

  <span class="icon5"><h4><center>Icono 5</center></h4>
    <center><p id=""><br/></center>
      <center>Este es el quinto icono del ejercicio cuatro<br/>
        para la practica de iconos y tipografias.</center></p></span>
  </body>
</html>
