}h4 {
  font-family: 'Anton', sans-serif;
}


span.icon_1 {
  background-color: #20B2AA;
  border: 1px solid #000000;
  padding-top: 30px;
  font-family: 'Lobster', cursive;
  height: 350PX;
  width: 250px;
  float: left;
}
.icon_1:hover{
  background-color: #87CEFA;
}


span.icon_2 {
  background-color: #20B2AA;
  border: 1px solid #000000;
  padding-top: 30px;
  font-family: 'Pacifico', cursive;
  height: 350px;
  width: 250px;
  float: left;
}
.icon_2:hover{
  background-color: #87CEFA;
  }


span.icon_3 {
  background-color: #20B2AA;
  border: 1px solid #000000;
  padding-top: 30px;
  font-family: 'Gloria Hallelujah', cursive;
  height: 350px;
  width: 250px;
  float: left;
}
.icon_3:hover{
  background-color: #87CEFA;
}


span.icon_4 {
  background-color: #20B2AA;
  border: 1px solid #000000;
  padding-top: 30px;
  font-family: 'Shadows Into Light', cursive;
  height: 350px;
  width: 250px;
  float: left;
}
.icon_4:hover{
  background-color: #87CEFA;
}


span.icon_5 {
  background-color: #20B2AA;
  border: 1px solid #000000;
  padding-top: 30px;
  font-family: 'Questrial', sans-serif;
  height: 350px;
  width: 250px;
float: left;
}
.icon_5:hover{
  background-color: #87CEFA;
}
