<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>exercises-css</title>
    <link rel="stylesheet" href="/main.css">
  </head>

<body>
  <div class="day"><em>11th/Oct/17</em></div>

  <h1><strong><center>EXERCICES CSS POSITIONING</center></strong></h1>

 <a href="a/index.html"title="Exercise A">
  <img src="http://thumbs.subefotos.com/51c754652d5fb7201d86afe5ec5ff049o.jpg"/>
 </a>

 <a href="b/index.html"title="Exercise B">
  <img src="http://thumbs.subefotos.com/92e74ae295eec7e77cbf504e299d9583o.jpg"/>
 </a>

 <a href="c/index.html"title="Exercise C">
  <img src="http://thumbs.subefotos.com/db064c568976230975cc277c978dc446o.jpg"/>
 </a>

 <a href="d/index.html"title="Exercise D">
  <img src="http://thumbs.subefotos.com/8909fe09c6f201c950ff3c2ca184bd2co.jpg"/>
 </a>

 <a href="e/index.html"title="Exercise E">
  <img src="http://thumbs.subefotos.com/8b37ed80679eadb71f98bc0cd1d6c561o.jpg"/>
 </a>

 <a href="f/index.html"title="Exercise F">
  <img src="http://thumbs.subefotos.com/3d13b99d0fab61c619e8700c627d9e08o.jpg"/>
 </a>

 <a href="g/index.html"title="Exercise G">
  <img src="http://thumbs.subefotos.com/0710e5a748adf8e88e020530284fd564o.jpg"/>
 </a>

 <a href="h/index.html"title="Exercise H">
  <img src="http://thumbs.subefotos.com/e04d0a4785ab52dd40a5b654547ad958o.jpg"/>
 </a>

 <a href="h2/index.html"title="Exercise H2">
  <img src="http://thumbs.subefotos.com/e04d0a4785ab52dd40a5b654547ad958o.jpg"/>
 </a>

 <a href="i/index.html"title="Exercise I">
  <img src="http://thumbs.subefotos.com/5859ead495b4ca05f732acdce1e3525bo.jpg"/>
 </a>

 <a href="j/index.html"title="Exercise J">
  <img src="http://thumbs.subefotos.com/812778d75ba945593beba2f7d6686e73o.jpg"/>
 </a>

</body>
</html>
