<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>exercises-css</title>
    <link rel="stylesheet" href="/main.css">
  </head>

<body>
  <div class="day"><em>11th/Oct/17</em></div>

  <h1><strong><center>EXERCICES CSS POSITIONING</center></strong></h1>

 <a href="a/index.html"title="Exercise A">
  <img src="assets/images/aa.jpg" width="250" height="250">
 </a>

 <a href="b/index.html"title="Exercise B">
  <img src="assets/images/bb.jpg" width="250" height="250">
 </a>

 <a href="c/index.html"title="Exercise C">
  <img src="assets/images/cc.jpg" width="250" height="250">
 </a>

 <a href="d/index.html"title="Exercise D">
  <img src="assets/images/dd.jpg" width="250" height="250">
 </a>

 <a href="e/index.html"title="Exercise E">
  <img src="assets/images/ee.jpg" width="250" height="250">
 </a>

 <a href="f/index.html"title="Exercise F">
  <img src="assets/images/ff.jpg" width="250" height="250">
 </a>

 <a href="g/index.html"title="Exercise G">
  <img src="assets/images/gg.jpg" width="250" height="250">
 </a>

 <a href="h/index.html"title="Exercise H">
  <img src="assets/images/hh.jpg" width="250" height="250">
 </a>

 <a href="h2/index.html"title="Exercise H2">
  <img src="assets/images/hh.jpg" width="250" height="250">
 </a>

 <a href="i/index.html"title="Exercise I">
  <img src="assets/images/ii.jpg" width="250" height="250">
 </a>

</body>
</html>
