<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>el-trptico</title>
    <link rel="stylesheet" href="main.css">
  </head>

   <body>

  <h4><center>El juego de mesa mas vendido de la historia</center></h4>
  <span class="antes"><h5><center>Antes</center></h5>
    <p><center>Un juego con la funcion de servir<br/>
    como herramienta para enseñar las teorias<br/>
    acerca de la justicia social y economica<br/>
    extraidas del estudio titulado Progreso y<br/>
    Miseria de Henry George.</center></p>
  </span>

  <span class="monopoly"><h5><center>Monopoly</center></h5>
    <p><center>Comercializado por vez primera en el año de<br/></p>
    <p>A lo largo de 80 años, el juego ha sufrido una<br/>
    notable evolucion.Sus multiples ediciones y <br/>
    sus tantas versiones han dado pie a que se <br/>
    cambiara desde la caja que lo contiene hasta<br/>
    los elementos que lo componen.Logrando<br/>
    asi, mantenerse como el favorito atraves de <br/>
    las decadas.</center></p>
  </span>

  <span class="ahora"><h5><center>Ahora</center></h5>
    <p><center>Con los años la finalidad del juego cambio<br/>
    para solo disfrutar un buen rato, negociando<br/>
    propiedades y hasta haciendo uso de medios<br/>
    electronicospara todas las transacciones que<br/>
    requiere el juego.</center></p>
  </span>

  <center><p id="pie">Con informacion de <a href="http://www.google.com">
  <code>Graffica info,cultura visual</code></a>
  </p></center>

<a class="mono">
  <img src="http://thumbs.subefotos.com/f2226f3792ba6955b2f539eaf2b4b5f1o.jpg"
  width="400" height="400"/>
</a>

<a class="monopo">
  <img src="http://thumbs.subefotos.com/70e4fb157011df8aeea2a121ab500b81o.jpg"
  width="400" height="400"/>
</a>
  </body>
</html>
