h4{
  background-color: #FFD700;
  border: 1px solid #000000;
  padding: 10px;
}

span.antes{
  display: inline-block;
  position: relative;
  bottom: 90px;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  width: 450px;
  height: 600px;
}


span.monopoly{
  display: inline-block;
  position: relative;
  bottom: 20px;
  left: -5px;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  width: 450px;
  height: 600px;
}

span.ahora{
  display: inline-block;
  position: relative;
  bottom: 692px;
  left: 880px;
  color: #000000;
  background-color: #FFFFFF;
  border: 1px solid #000000;
  width: 450px;
  height: 600px;
}

#pie{
  color: #000000;
  position:relative;
  width: auto;
  bottom: 710px;
  background-color: #FFD700;
  border: 1px solid #000000;
  padding: 5px;
  }

  a.mono{
    position: relative;
    bottom: 1180px;
    left: 25px;
}

  a.monopo{
    position: relative;
    bottom: 1180px;
    left: 500px;
}
